lang go
# Config
verfmt yymmdd

# DOOM
include ./DOOM.WAD /DOOM.WAD
include ./fbdoom /bin/fbdoom

# Libraries
include /lib/x86_64-linux-gnu/libc.so.6 /lib/x86_64-linux-gnu/libc.so.6
include /lib/x86_64-linux-gnu/libm.so.6 /lib/x86_64-linux-gnu/libm.so.6
include /lib/x86_64-linux-gnu/libdl.so.2 /lib/x86_64-linux-gnu/libdl.so.2
include /lib/x86_64-linux-gnu/libpthread.so.0 /lib/x86_64-linux-gnu/libpthread.so.0
include /lib64/ld-linux-x86-64.so.2 /lib64/ld-linux-x86-64.so.2